.header-profile {
  display: flex;
  flex-direction: row;
  width: 25vw;
  height: 45px;
  margin-right: 3vw;
  align-items: center;
  overflow: hidden;

  h2{
    margin: 0 20px;
    font-family: 'Segoe UI Light', serif;
    font-size: 2rem;
    color: white;
  }

  .profile-logo{
    width: 50px;
    height: 50px;
    opacity: 0.7;
    background-image: url("./resources/person-profile.png");
    background-size: cover;
    cursor: pointer;

    &:hover{
      opacity: 1;
      transform: rotate(90deg);
    }
  }

  .icon-svg-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70px;
    height: 30px;
    //margin-right: 20px;
    margin-left: 25px;
    font-size: 1.6rem;
    transform: rotate(-90deg) translate(-23px, 25px);
    rotation: 90deg;
    transition: all 0.5s;

    &:hover{
      transform:  rotate(0deg) scale(1.3);
    }

    p{
      color: white;
      font-weight: 600;
    }
  }

  .icon-svg{
    font-size: 3rem;
    color: rgba(0, 253, 99, 0.78);
    z-index: 2;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    transition: all 0.3s;

    &:hover{
      color: rgba(0, 253, 82, 0.99);
    }
    &:active {
      transform: scale(0.8);
    }
  }
}