.registration-window,
.article-window{
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  z-index: 5;

  h3{
    margin-bottom: 20px;
  }

  form{
    display: flex;
    flex-direction: column;

    input[type="text"],
    input[type="password"],
    input[type="email"]{
      display: block;
      box-sizing: border-box;
      margin-bottom: 20px;
      padding: 4px;
      width: 220px;
      height: 32px;
      border: none;
      border-bottom: 1px solid #AAA;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 15px;
      transition: all 0.2s ease;
      &:focus{
        border-bottom: 2px solid #16a085;
        color: #16a085;
      }
    }

    input[type="submit"] {
      margin-top: 28px;
      width: 120px;
      height: 32px;
      background: #16a085;
      border: none;
      border-radius: 2px;
      color: #FFF;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      text-transform: uppercase;
      transition: all 0.1s ease;
      cursor: pointer;

      &:hover,
      &:focus{
        opacity: 0.8;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
      }

      &:active{
        opacity: 1;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
      }
    }
  }
}