.authHeader {
  display: flex;
  flex-direction: row;
  width: 170px;
  margin-right: 3vw;
  justify-content: space-between;

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 60px;
    background-color: #434547;

    color: white;
    border-radius: 1vh;
    margin: 20px auto;
    font-size: 1.4rem;
    //font-weight: bold;
    cursor: pointer;
    &:hover {
      background-color: #c1c1c1;
      color: #6f16db;
    }
  }

  .button-log-header {
    background-color: #733bd3;
    color: white;
    border: 1px solid #000000;
  }
}