.article-form{
  min-width: 45%;
  max-width: 45%;

  .newArticle-wrapper{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    label{
      margin-right: 30px;
    }
    a{
      margin-left: 30px;
      text-decoration: none;
      color: #16a085;
      &:hover{
        text-decoration: underline;
      }
    }
  }

  textarea{
    width: 500px;
    height: 20vh;
    resize: vertical;
    padding: 2%;
  }
}