.overlay{
  display: none;
  opacity: 0;
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  justify-content: center;
  align-items: center;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.50);
  transition: opacity 500ms;
}

.modal-window{
  //position: absolute;
  //left: 50%;
  //top: 50%;
  //transform: translate(-50%, -50%);
  display: none;
  opacity: 0;
  min-height: 200px;
  min-width: 20%;
  z-index: 5;
  //border: 1px solid black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  background-color: white;
  transition: opacity 500ms;
  padding: 2%;
}

.remove{
  display: none;
}