.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: 80px;
  border-bottom: 1.5px solid #000;
  background-color: rgba(0, 0, 0, 0.5);

  .logo{
    display: flex;
    flex-direction: row;
    background-size: contain;
    align-items: baseline;
    width: 170px;
    height: 70px;
    margin-left: 3vw;
    .logo-like{
      height: 70px;
    }
    h2{
      color: #7108f4;
      font-size: 5rem;
      font-family: 'Gaegu Regular', serif;
      text-shadow:
              -0   -1px 0   #000000,
              0    1px 0   #000000,
              1px  0   0   #000000,
              -1px -1px 0   #000000,
              1px -1px 0   #000000,
              -1px  1px 0   #000000,
              1px  1px 0   #000000;
    }
  }

  .page-name{
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    color: #7108f4;
    font-size: 3rem;
    flex-grow: 5;
    text-shadow:
            -0   -1px 0   #000000,
            0    1px 0   #000000,
            1px  0   0   #000000,
            -1px -1px 0   #000000,
            1px -1px 0   #000000,
            -1px  1px 0   #000000,
            1px  1px 0   #000000,
  }
}

main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60vw;
  height: 83vh;
  margin: 20px 0 0 5%;

  aside{
    width: 15vw;
    height: 60vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
}