.feed-intro{
  font-size: 3rem;
}

.feed-article{
  width: 40vw;
  margin-top: 20px;
  padding: 3%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  font-size: 1.6rem;

  h4{
    color: #16a085;
    margin-bottom: 5px;
  }

  span{
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.51);
  }

  .article-text{
    margin: 25px 0 5px 0;
  }

  .meta{
    display: flex;
    flex-direction: row;

    .article-date{
      flex-grow: 5;
    }

    div{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 45px;
      color: #6f16db;

      svg{
        transition: all 0.2s;
        &:hover{
          transform: scale(1.3);
        }
        &:active{
          transform: scale(0.8);
        }
      }


      span{
        margin-left: 5px;
      }
    }
  }
}
