@import "containers/App/App";
@import "containers/ProfileHeader/ProfileHeader";
@import "containers/AuthHeader/AuthHeader";
@import "containers/Modal/Modal";
@import "containers/Registration/Registration";
@import "containers/NewArticle/NewArticle";
@import "containers/MainFeed/MainFeed";

@font-face {
  font-family: 'San Francisco Text Light';
  src: url('./resources/fonts/SFUIText-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI Light';
  src: url('./resources/fonts/SegoeUI-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI Regular';
  src: url('./resources/fonts/SegoeUI.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'San Francisco Text Regular';
  src: url('./resources/fonts/SFUIText-Regular.ttf') format('truetype'),
  url('./resources/fonts/SFUIText-Regular.woff') format('woff'),
  url('./resources/fonts/SFUIText-Regular.eot');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gaegu Regular';
  src: url('./resources/fonts/Gaegu-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  &:focus{
    outline: none;
  }
}

html{
  font-size: 10px;
  font-family: 'Segoe UI Regular', serif;
}

